.searchContainer {
  font-family: "Raleway";
  display: flex;
  width: 295px;
  height: 52px;
  border: 1.12px solid #d0d0d0;
  padding-right: 15px;
}

.search {
  padding: 15px 18px 15px 18px;
  width: 100%;
  border: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #8b8b8b;
  background: url("/img/jbhigh/icons/tooling/search.svg") no-repeat right;
}

.search:focus {
  outline: none;
}
