.hero {
  display: grid;
  grid-template-columns: auto;
  height: 360px;
  background-color: #f5f3e8;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.heroContent h3 {
  font-family: "KCHand";
  font-size: 96px;
  line-height: 90px;
  text-transform: uppercase;
}

.heroContent p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.heroImageWrapper {
  align-self: start;
}

.container {
  padding: 50px 5% 100px 5%;
}

.postsContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 10px;
}
